doctype html
html
  head
    meta(charset='utf-8')
    meta(name='description', content='#{desc}')
    meta(name='keywords', content='#{keywords}')
    title #{title}
  body
    header.header
      block header
    main.main
      block main
    footer.footer
      block footer