/**
 * 样式文件
 * @author: SimonHao
 * @date:   2015-11-17 11:06:01
 */

:root{
  .wrap{
    position relative;
    top 10px;
    left 10px;
  }

  .menu{
    position fixed;
    bottom 10px;
    left 10px;
  }
}