/**
 * 样式文件
 * @author: SimonHao
 * @date:   2015-11-17 11:06:01
 */

:root{
  .wrap{
    position relative;
    padding-left 100px;
  }

  .menu{
    position absolute;
    top 0;
    left 0;
    width 100px;
  }
}