div.wrap(id='wrap')
  div.menu
    block menu
  div.title
    block title
  div.toolbar
    block toolbar
  div.navbar
    block top_navbar
  div.list
    block navlist
  div.navbar
    block bottom_navbar