extends(title='Index', src='index.js') comm/layout
replace head
  link(rel='stylesheet', pack='comm_styles')
  link(rel='stylesheet', pack='base_styles')
replace body
  comm-admin
  div.title HaHa
replace foot
  div qwei wer
  script(pack='comm_libs')