extends frame
replace title
  h1 New Title
  include(keywords=[2,3,4], name={first:'simon', last:'hao'}) title
replace top_navbar
  h2 Top Navbar
  include navbar:top
replace navlist
  h2 Nav List
  p List one
  p List Two
replace bottom_navbar
  h3 Bottom Navbar
  include navbar:bottom