extends frame
replace title
  h1 New Title
  comm-admin-title
replace top_navbar
  h2 Top Navbar
  comm-admin-navbar:top
replace navlist
  h2 Nav List
  p List one
  p List Two
replace bottom_navbar
  h3 Bottom Navbar
  comm-admin-navbar:bottom