extends(title='Detail') comm/layout
replace head
  link(rel='stylesheet', pack='comm_styles')
replace body
  comm-admin-title(keywords=['build','solution'])
  comm-admin-navbar:top
  comm-admin-navlist
  comm-admin-navbar:bottom
replace foot
  script(pack='comm_libs')