extends(title='Detail') comm/layout
replace head
  link(rel='stylesheet', href='comm_style')
replace body
  comm-admin-title(keywords=['build','solution'])
  comm-admin-navbar:top
  comm-admin-navlist
  comm-admin-navbar:bottom
replace foot
  script(src='comm_libs')